.frontbanner {
	background-color: #FF6B4B;
	padding-top: 100px;
	padding-bottom: 100px;
	margin-top: -15px;
}

.frontlogo {
	font-family: "ProximaNova-Reg";
	color: white;
	font-size: 400%;
}
.logo {
	font-family: "ProximaNova-Reg";
	font-size: 250%;
}
.navitems {
	font-family: "ProximaNova-Reg";
}
.bodytext {
	font-family: "ProximaNova-Reg";
	font-size: 140%;
	color: white;
}
.article {
	margin-bottom: 25px;
}
.articlebanner {
	width: 100%;
	margin: auto;
}
.makefont {
	font-family: "ProximaNova-Thin";
}
pre {
/*	border: none !important;*/
	/*background-color: #2b303b;*/
	margin-left: 50px;
	font-size: 125%;
	padding: 10px !important;
}
a {
	text-decoration: none !important;
	color: black;
}
a:hover {
	color: #FF6B4B !important;
}
li {
	font-size: 120%;
}
p {
	font-size: 120%;
}
/*FONTS*/
@font-face {
  font-family: 'ProximaNova-Reg';
  src: url('/fonts/ProximaNova-Thin.otf');
}

@font-face {
  font-family: 'ProximaNova-Thin';
  src: url('/fonts/ProximaNova-Reg.otf');
}
